<div class="row">
<%@destination.each do|destination| %>
   <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="http://via.placeholder.com/350x150">
          <span class="card-title"><%=destination.name%></span>
        </div>
        <div class="card-content">
          <p><%=destination.description%></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <%end%>
  </div>

    

   