<h1>Where do you want to go?</h1>

<div class="row">
<%@destination.each do |destination| %>
   <div class="col s6">
      <div class="card-panel teal lighten-2">
        <div class="card-image">
          <% if !destination.pictures.first.nil? %>
            <%= destination.pictures.first.image.url %>
          <% end %>
          <span class="card-title"><%=destination.name%></span>
        </div>
        <div class="card-content">
          <p><%=destination.description%></p>
        </div>
        <div class="card-action">
          <%= link_to "See more Posts about your Location", destination_path(destination) %>
        </div>
      </div>
    </div>
    <%end%>
  </div>

    
   